* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:0px;
    padding: 0;
    width:100%;
    height: 100%;
    position:relative;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #a4c991;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stickToBottom {
    flex-shrink: 0;

    margin-bottom: 0px;
}

.rbc-time-content{
    overflow: scroll;
}
.rbc-timeslot-group:nth-child(even) {background-color: #fcf3cf;}
.rbc-day-slot .rbc-event{
    background-color: #1318b;
    color: #dec85e;
    border: none!important;
}
.rbc-day-slot .rbc-background-event{
    border:none !important ;
}

.rbc-time-gutter.rbc-time-column{
    min-width:180px!important;
    text-align: center!important;
}
.rbc-event-content{
    font-size: 0.8em;
}

.rbc-event-label{
    font-size: 0.8em!important;
}
.rbc-time-column .rbc-timeslot-group{
    min-height:36px!important;
}

.rbc-time-slots{
    line-height: 1.0;
    padding:0px;
}
.rbc-event.rbc-event-allday{
    background-color: #e2c0ab;
    color: black;
    border: none!important;
}

/* Custom styles for react-datepicker */
.react-datepicker {
    width: 100%; /* Full width for mobile */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    font-size: 24px; /* Adjust font size */
}

.react-datepicker__header {
    font-size: 18px; /* Header font size */
}
.react-datepicker__week{
    line-height: 1rem;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    font-size: 24px; /* Day and time font size */
}
.react-datepicker__day {
    height: 2rem; /* Adjust the height of each day cell */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Example for a generic date picker component */
/*@media (max-width: 768px) {*/
/*    .date-picker-container {*/
/*        width: 100%; !* Make the container full width on mobile *!*/
/*    }*/

/*    .calendar-panel {*/
/*        flex-direction: column; !* Stack month views vertically *!*/
/*    }*/

/*    .day-cell {*/
/*        font-size: 0.9em; !* Adjust font size for better readability *!*/
/*    }*/
/*}*/
.react-datepicker__input-container input {
    font-size: 20px; /* 텍스트 크기 */

}