* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:0px;
    padding: 0;
    width:100%;
    height: 100%;
    position:relative;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #a4c991;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stickToBottom {
    flex-shrink: 0;

    margin-bottom: 0px;
}

.rbc-time-content{
    overflow: scroll;
}
.rbc-timeslot-group:nth-child(even) {background-color: #fcf3cf;}
.rbc-day-slot .rbc-event{
    background-color: #1318b;
    color: #dec85e;
    border: none;
    border:none !important;
}
.rbc-day-slot .rbc-background-event{
    border:none !important ;
}

